.vscode/
.cache/

build/

document/doxygen/html
document/doxygen/doxygen.log

document/sphinx-cn/_build
document/sphinx-cn/_static
document/sphinx-cn/_templates

.idea/
cmake-build*/

src/tools/aimrt_cli/dist
src/tools/aimrt_cli/build
