.vscode/
.cache/

build/

document/doxygen/html
document/doxygen/doxygen.log
document/doxygen/dockerfile/html.tar.gz

document/sphinx-cn/_build
document/sphinx-cn/_static
document/sphinx-cn/_templates
document/sphinx-cn/dockerfile/html.tar.gz

.idea/
cmake-build*/

src/tools/aimrt_cli/dist
src/tools/aimrt_cli/build

dist/
*.egg-info/

__pycache__/
*_pb2.py
log/
tmp/
